.content
  .container
    .row
      .grid_12
        %h2 blog
        .blog
          %img.img_inner.fleft{:alt => "", :src => "images/page4_img1.jpg"}/
          .extra_wrapper
            %time{:datetime => "2014-01-01"}
              %span.col2> 24
              apr
            .extra_wrapper
              .text1.col2>
                %a{:href => "#"} Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinarac, lorem Vestibulum sed ante
              by
              %a{:href => "#"} Admin
            = succeed "Lorem" do
              .clear
            %br/
            %a.btn{:href => "#"} more
        .blog
          %img.img_inner.fleft{:alt => "", :src => "images/page4_img2.jpg"}/
          .extra_wrapper
            %time{:datetime => "2014-01-01"}
              %span.col2> 24
              apr
            .extra_wrapper
              .text1.col2>
                %a{:href => "#"} Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinarac, lorem Vestibulum sed ante
              by
              %a{:href => "#"} Admin
            = succeed "Lorem" do
              .clear
            %br/
            %a.btn{:href => "#"} more
        .blog
          %img.img_inner.fleft{:alt => "", :src => "images/page4_img3.jpg"}/
          .extra_wrapper
            %time{:datetime => "2014-01-01"}
              %span.col2> 24
              apr
            .extra_wrapper
              .text1.col2>
                %a{:href => "#"} Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinarac, lorem Vestibulum sed ante
              by
              %a{:href => "#"} Admin
            = succeed "Lorem" do
              .clear
            %br/
            %a.btn{:href => "#"} more
