.content
  .container
    .row
      .grid_12
        %h2 Как нас найти
        .map
          %script{type: "text/javascript", charset: "utf-8", src: "https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A07e9b4c86ce43e04cf1cada43c300795102eecf9e44fe5166f70005442ecf0e9&amp;height=488&amp;lang=ru_RU&amp;scroll=true"}
          %br
          %br
          Адрес:
          %br
          метро дубровка
          %br
          ледовый центр "морозово"
          %br
          ул. новоостаповская, 5с2
          %address
          %dl
            %dd
              %span> Телефон:
              +7 (915) 081-36-57
            %dd
              E-mail:
              %a.col2{:href => "#"} hockeyband@mail.ru
      / .grid_4
      /   %h2 feedback
      /   %form#form
      /     .success_wrapper
      /       .success-message Contact form submitted
      /     %label.name
      /       %input{"data-constraints" => "@Required @JustLetters", :placeholder => "Name:", :type => "text"}/
      /       %span.empty-message *This field is required.
      /       %span.error-message *This is not a valid name.
      /     %label.email
      /       %input{"data-constraints" => "@Required @Email", :placeholder => "E-mail:", :type => "text"}/
      /       %span.empty-message *This field is required.
      /       %span.error-message *This is not a valid email.
      /     %label.phone
      /       %input{"data-constraints" => "@Required @JustNumbers", :placeholder => "Phone:", :type => "text"}/
      /       %span.empty-message *This field is required.
      /       %span.error-message *This is not a valid phone.
      /     %label.message
      /       %textarea{"data-constraints" => "@Required @Length(min=20,max=999999)", :placeholder => "Message:"}
      /       %span.empty-message *This field is required.
      /       %span.error-message *The message is too short.
      /     %div
      /       .clear
      /       .btns
      /         %a.btn{"data-type" => "submit", :href => "#"} send message
