.content.gallery
  .container
    .row
      .grid_12
        %h2 photo gallery
      .grid_3
        %a.gal{:href => "/assets/big1.jpg"}
          %img{:alt => "", :src => "/assets/page1_img1.jpg"}/
      .grid_3
        %a.gal{:href => "/assets/big2.jpg"}
          %img{:alt => "", :src => "/assets/page1_img2.jpg"}/
      .grid_3
        %a.gal{:href => "/assets/big3.jpg"}
          %img{:alt => "", :src => "/assets/page1_img3.jpg"}/
      .grid_3
        %a.gal{:href => "/assets/big4.jpg"}
          %img{:alt => "", :src => "/assets/page1_img4.jpg"}/
      .clear
      .grid_12
        .hor
      .clear
      .grid_3
        %h2.head1 Fresh news
        .text1.col2
          %a{:href => "#"} 12.10.14 seriasde miuase katser
        Beciegast nveriti vitaesaert kytars lertya asety kertya aset aplioserde fae kertyrauas vitaesa ertyayseas aeslades muytaseas snemo eniptaiades.
        %br/
        %a.btn{:href => "#"} more news
      .grid_6.preffix_1
        %h2.head1 Executive board minutes
        %ul.list.col2
          %li
            %a{:href => "#"} 2013 EHF Executive Board Minutes, Brussels, 20th-21st September
          %li
            %a{:href => "#"} 2013 Executive Board Minutes Brussels, Belgium 15th August
          %li
            %a{:href => "#"} 2013 Executive Board Minutes, Rome, Italy, 8th-9th June
          %li
            %a{:href => "#"} 2013 Executive Board Minutes, 8th – 9th March
        %a.btn{:href => "#"} view more
      .grid_2
        %address.add1
          %img{:alt => "", :src => "/assets/icon.png"}/
          28 Jackson Blvd Ste 1020
          %br/
          Chicago
          %br/
          IL 60604-2340
          %br/
          %a.col3{:href => "#"} info@demolink.org
        %a.col3.book{:href => "#"} on-line form
