.content
  .container
    .row
      .grid_8
        %h2 popular news
        .news
          %img.img_inner.fleft{:alt => "", :src => "images/page2_img1.jpg"}/
          .extra_wrapper
            .text1.col2>
              %time{:datetime => "2014-01-01"} 12.10.14
              %a{:href => "#"} Mauris accumsan nulla vel diam
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            %br/
            %a.btn{:href => "#"} more
        .news
          %img.img_inner.fleft{:alt => "", :src => "images/page2_img2.jpg"}/
          .extra_wrapper
            .text1.col2>
              %time{:datetime => "2014-01-01"} 12.10.14
              %a{:href => "#"} Mauris accumsan nulla vel diam
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            %br/
            %a.btn{:href => "#"} more
        .news
          %img.img_inner.fleft{:alt => "", :src => "images/page2_img3.jpg"}/
          .extra_wrapper
            .text1.col2>
              %time{:datetime => "2014-01-01"} 12.10.14
              %a{:href => "#"} Mauris accumsan nulla vel diam
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            %br/
            %a.btn{:href => "#"} more
        .news
          %img.img_inner.fleft{:alt => "", :src => "images/page2_img4.jpg"}/
          .extra_wrapper
            .text1.col2>
              %time{:datetime => "2014-01-01"} 12.10.14
              %a{:href => "#"} Mauris accumsan nulla vel diam
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            %br/
            %a.btn{:href => "#"} more
      .grid_4
        %h2.head2 headlines
        %ul.list.l1.col2
          %li
            %a{:href => "#"} Lorem ipsum dolor sit amet, consectetuer adip iscing elit. Praesent vestibulum molestie lacus.
          %li
            %a{:href => "#"} Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.
          %li
            %a{:href => "#"} Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et.
          %li
            %a{:href => "#"} Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et.
          %li
            %a{:href => "#"} Lorem ipsum  sit amet, consectetuer adip iscing elit. Praesent vestibulum molestie lacus.
          %li
            %a{:href => "#"} Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        %h2 the sport life
        %img.img_inner{:alt => "", :src => "images/page2_img5.jpg"}/
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        %br/
        %a.btn.bt1{:href => "#"} photos of the week
      .clear
      .grid_12
        .hor.hor1
        %h2 top videos
      .grid_3
        %a.various.iframe{:href => "http://www.youtube.com/embed/2kodXWejuy0?rel=0"}
          %img{:alt => "", :src => "images/video_img1.jpg"}/
          %span
        .text1.col2
          %a{:href => "#"} Mauris accumsan nulla vel diam nerafae kertyerauas vitaesa
      .grid_3
        %a.various.iframe{:href => "http://www.youtube.com/embed/2kodXWejuy0?rel=0"}
          %img{:alt => "", :src => "images/video_img2.jpg"}/
          %span
        .text1.col2
          %a{:href => "#"} Lorem ipsum dolor sit amet, consectetuer adipiscing elit
      .grid_3
        %a.various.iframe{:href => "http://www.youtube.com/embed/2kodXWejuy0?rel=0"}
          %img{:alt => "", :src => "images/video_img3.jpg"}/
          %span
        .text1.col2
          %a{:href => "#"} ertyatya nemo anuasye eniptaiades volernatura
      .grid_3
        %a.various.iframe{:href => "http://www.youtube.com/embed/2kodXWejuy0?rel=0"}
          %img{:alt => "", :src => "images/video_img4.jpg"}/
          %span
        .text1.col2
          %a{:href => "#"} volernatur aut oditaut onsequuntur magni dolores

