.content.cnt1
  .container
    .row
      .grid_12
        %h2 players
      .grid_6
        %img.img_inner.fleft{:alt => "", :src => "images/page3_img1.jpg"}/
        .extra_wrapper
          .text1.col2>
            %a{:href => "#"} Mark Johnson
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur.
      .grid_6
        %img.img_inner.fleft{:alt => "", :src => "images/page3_img2.jpg"}/
        .extra_wrapper
          .text1.col2>
            %a{:href => "#"} Tom James
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur.
      .clear.cl1
      .grid_6
        %img.img_inner.fleft{:alt => "", :src => "images/page3_img3.jpg"}/
        .extra_wrapper
          .text1.col2>
            %a{:href => "#"} Patrick Pool
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur.
      .grid_6
        %img.img_inner.fleft{:alt => "", :src => "images/page3_img4.jpg"}/
        .extra_wrapper
          .text1.col2>
            %a{:href => "#"} John McCoist
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur.
      .clear.cl1
      .grid_6
        %img.img_inner.fleft{:alt => "", :src => "images/page3_img5.jpg"}/
        .extra_wrapper
          .text1.col2>
            %a{:href => "#"} Bradley Grosh
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur.
      .grid_6
        %img.img_inner.fleft{:alt => "", :src => "images/page3_img6.jpg"}/
        .extra_wrapper
          .text1.col2>
            %a{:href => "#"} Alan Smith
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur.
