.content.cnt1
  .container
    .row
      .grid_12
        %h2 Тернерская команда
      - @team.each_with_index do |trener, i|
        .grid_6
          = image_tag trener.photo.url(:main), class: "img_inner fleft"
          .extra_wrapper
            .text1.col2>
              = link_to trener.name
            = trener.description
        - if (i+1)%2 == 0
          .clear.cl1
      