.content
  .container
    .row
      .grid_8
        %h2 Рассписание тренировок
        .news
          .extra_wrapper
            .text1.col2>
              = link_to "Вторник", "#", remote: true
            10:30 - 11:30 (ГРУППА 1)
            %br
            11:30 - 12:30 (ГРУППА 2)
            %br/
        .news
          .extra_wrapper
            .text1.col2>
              = link_to "Четверг", "#", remote: true
            10:30 - 11:30 (ГРУППА 1)
            %br
            11:30 - 12:30 (ГРУППА 2)
            %br/
      .grid_4
        %h2.head2 Записаться
        ТЕЛЕФОНЫ:
        %br
        +7 (967) 259-39-95
        %br
        +7 (915) 081-36-57
        %br
        E-MAIL: HOCKEYBAND@BK.RU