.slider_wrapper
  #camera_wrap
    %div{"data-src" => asset_path("/images/slide.jpg")}
    %div{"data-src" => asset_path("/images/slide1.jpg")}
    %div{"data-src" => asset_path("/images/slide2.jpg")}