.page1_block
  .container
    .row
      .grid_4
        .block1
          .title
            Venues and dates updates
            %span EuroHockey Indoor Championships
          Nasetat miaser sams trsusera neuctus aloecase magna oncumsan eras maleonuris fermen.
          %br/
          %a.info{:href => "#"} INFORMATION BULLETIN
      .grid_8
        .grid_4.alpha
          .block2
            .count 1.
            .extra_wrapper
              .title
                %a{:href => "#"} Group Tickets
              Nertyase riti masertas lertyarsasety kertya asetsetyas aplicabo nerafaes.
          .block2
            .count 2.
            .extra_wrapper
              .title
                %a{:href => "#"} Upcoming Games
              Kertasse asertas lertyarsriti asety kertya aset bfrasa plicabo nerafaes kertyu ersvitae.
        .grid_4
          .block2
            .count 3.
            .extra_wrapper
              .title
                %a{:href => "#"} Statistics
              Matseariti masertas lertydes paset aplicabo nerafaes lasertyus ersvitae ertyasnemo.
          .block2
            .count 4.
            .extra_wrapper
              .title
                %a{:href => "#"} Our Sponsors
              Fertasa riti masertas lertya sea caplicabo nerafaes asetyseda kertyade asetkery.
        .clear
        .alright
          %a.info{:href => "#"} view more info