.page1_block
  .container
    .row
      .grid_4
        .block1
          .title
            HOCKEY BAND
            %span Тренировочный центр
          Приветствуем Вас в нашем детском тренировочном центре HOCKEY BAND!
          %br
          Мы ставим перед собой высокие цели и сложные задачи для воспитания счастливого и спортивно-развитого здорового поколения.
          %br/
          / %a.info{:href => "#"} INFORMATION BULLETIN
      .grid_8
        .grid_4.alpha
          .block2
            .count 1.
            .extra_wrapper
              .title
                =link_to "Для малышей", "#", remote: true
              Программа рассчитана на детей в возрасте 3-6 лет и включает в себя профессиональную и плавную подготовку физического развития детей к первым тренировкам на льду.
          .block2
            .count 2.
            .extra_wrapper
              .title
                =link_to "Здоровье", "#", remote: true
              Мы делаем упор на развитие координации и групп мышц, задействованных в катании на льду и в будущем в работе с клюшкой.
        .grid_4
          .block2
            .count 3.
            .extra_wrapper
              .title
                =link_to "Комплексный подход", "#", remote: true
              Программа позволяет подготовить дошкольника не только физически, но и психологически. Получить навыки, которые ему понадобятся не только в спорте, но и в жизни.
          .block2
            .count 4.
            .extra_wrapper
              .title
                =link_to "Команда", "#", remote: true
              Опытные тренера в игровой форме подготовят Ваших детей к большому спорту.
        .clear
        .alright
          / %a.info{:href => "#"} view more info