.slogan
  .container
    .row
      .grid_12
        %img{:alt => "", :src => asset_path("/images/page1_img.jpg")}/
        .extra_wrapper
          .title.col1 Hockey is our life
          Beciegast nveriti vitaesaert asety kertya aset aplicaboserde nerafae lorem ipsumd oleiuyase ipsumertrias dolore. Vertyu erauas aitaesa ertyasneo eniptaiades. volernatur auteas delrytas miase oditau nsequuntur magni dolores eo qui ratione voluptate.
          %br/
          %a{:href => "#"} learn more