.slogan
  .container
    .row
      .grid_12
        %img{:alt => "", height: 234, :src => asset_path("/images/logocl-alt-md.png")}/
        .extra_wrapper
          .title.col1 Занимайтесь хоккеем вместе с нами!
          Приветствуем Вас на сайте нашей Школы начальной подготовки профессионального хоккеиста Hockey Band.
          Если Ваш ребёнок не может усидеть на месте, выражает интерес к ледовым играм, любит играть с другими детьми - приводите его в нашу Школу начальной подготовки профессионального хоккеиста. Наши тренеры станут не только наставниками, но и друзьями Вашему ребёнку. Он научится уверенно держаться на льду, действовать в команде, и просто получать удовольствие от игры. 
          %br/
          %br/
          Для записи можете связаться с нами по телефону или электронной почте:
          %dl
            %dd
              %span> Телефоны:
              %br
              +7 (977) 895-85-22
              %br
              +7 (915) 081-36-57
            %dd
              E-mail: hockeyband@bk.ru
          / %a{:href => "#"} Как записаться